---
# Clean All the Data 
- Extract the three TPD CSVs and get the relevent info
- Combine three dataframes after mapping the neighborhoods
- Save the CSV
- Depends on pandas and datetime modules

In [1]:
intermediate_write_out = True
print_debug = True

In [2]:
import pandas as pd
import datetime

---
## Arrests Cleaning
- Get the valid columns from the arrests data
- Use the process_df function to make the data interpretable
---
### Relevent Data Columns

In [3]:
valid_cols = ["NHA_NAME", "sex", "age", "datetime_arr", "fel_misd"]

---
### Function for Interpreting Arrests Data

In [4]:
def process_df(df):
    df = df[valid_cols].dropna()
    date_arr = []
    month_arr = []
    proper_time_arr = []
    for i in range(len(df)):
        datetime_arr = list(df["datetime_arr"])[i].split(" ") # extract date and time str

        date = datetime_arr[0].strip()
        time = datetime_arr[1].strip().split(":")
    
        realtime = int(time[0]) - 7
        if (realtime < 0):
            realtime = 24 + realtime
        proper_time_arr.append(f"{realtime}{time[1]}")
        
        calc_date = datetime.datetime.strptime(date, '%Y/%m/%d') 
        day = (calc_date.weekday() + 1) % 7
        date_arr.append(day)
        month_arr.append(calc_date.month-1)

    df = df.drop("datetime_arr", axis=1)
    df["day"] = date_arr
    df["month"] = month_arr
    df["time"] = proper_time_arr

    return df

---
### Find the DFs for Both Years

In [5]:
arrests_2020 = pd.read_csv("./data/Arrests_2020.csv")
arrests_2020 = process_df(arrests_2020)

if print_debug:
    print(arrests_2020)

              NHA_NAME sex age fel_misd  day  month  time
12        Dodge Flower   M  21        M    4      0  1610
13        Dodge Flower   M  21        M    4      0  1610
15     West University   M  24        M    5      0  1716
16     West University   M  24        M    5      0  1716
17        Dodge Flower   M  21        M    4      0  1610
...                ...  ..  ..      ...  ...    ...   ...
51531        Pie Allen   M  39        M    0      2  1738
51539     San Clemente   M  23        M    6      2  1804
51540     San Clemente   M  23        M    6      2  1804
51541     San Clemente   M  23        M    6      2  1804
51543         Downtown   M  65        M    0      2  1833

[37309 rows x 7 columns]

In [6]:
arrests_2021 = pd.read_csv("./data/Arrests_2021.csv")
arrests_2021 = process_df(arrests_2021)

if print_debug:
    print(arrests_2021)

              NHA_NAME sex age fel_misd  day  month  time
3             Eastside   M  15        M    6      0  1144
4             Eastside   M  15        M    6      0  1144
5           Rita Ranch   F  25        M    6      0  1305
6      Garden District   M  34        F    6      0  1449
8      Garden District   M  34        F    6      0  1449
...                ...  ..  ..      ...  ...    ...   ...
45407            Amphi   F  49        M    2      1   109
45408    Flowing Wells   M  22        M    4      2   827
45412    Flowing Wells   M  22        M    4      2   827
45413    Flowing Wells   M  22             4      2   827
45419         Downtown   M  30        F    1      1   400

[32086 rows x 7 columns]

In [7]:
if intermediate_write_out:
    arrests_2020.to_csv('./clean_data/Arrests_2020_cleaned.csv', index=False)
    arrests_2021.to_csv('./clean_data/Arrests_2021_cleaned.csv', index=False)

---
## Neighborhood Wealth Cleaning:
---
### Extracting Relevent Columns

In [8]:
neighborhood = pd.read_csv("./data/Neighborhood_Income.csv")
neighborhood.set_index('NAME', inplace=True)
neighborhood = neighborhood[["MEDHINC_CY", "WLTHINDXCY", "TOTHH_CY"]]

if print_debug:
    print(neighborhood)

                       MEDHINC_CY  WLTHINDXCY  TOTHH_CY
NAME
A Mountain                  39293          32      1103
Adelanto                    33635          28       117
Alvernon Heights            29762          26        99
Amphi                       20213          20      3105
Armory Park                 36870          48      1223
...                           ...         ...       ...
West Lamar City Acres       38082          46       121
Loma Verde                  43696          73       233
Downtown                    36471          26       111
Barrio Santa Cruz           27188          33        64
Bonanza                     62571          69      2319

[159 rows x 3 columns]

In [9]:
if intermediate_write_out:
    neighborhood.to_csv('./clean_data/neighborhood_cleaned.csv', index=True)

---
## Merging DFs:

In [10]:
arrests_df = pd.concat([arrests_2020, arrests_2021])

if print_debug:
    print(arrests_df)

              NHA_NAME sex age fel_misd  day  month  time
12        Dodge Flower   M  21        M    4      0  1610
13        Dodge Flower   M  21        M    4      0  1610
15     West University   M  24        M    5      0  1716
16     West University   M  24        M    5      0  1716
17        Dodge Flower   M  21        M    4      0  1610
...                ...  ..  ..      ...  ...    ...   ...
45407            Amphi   F  49        M    2      1   109
45408    Flowing Wells   M  22        M    4      2   827
45412    Flowing Wells   M  22        M    4      2   827
45413    Flowing Wells   M  22             4      2   827
45419         Downtown   M  30        F    1      1   400

[69395 rows x 7 columns]

---
### Map the Wealth and Total Household to the Arrest Neighborhood

In [11]:
arrests_df['MEDHINC_CY'] = arrests_df['NHA_NAME'].map(neighborhood['MEDHINC_CY'])
arrests_df['WLTHINDXCY'] = arrests_df['NHA_NAME'].map(neighborhood['WLTHINDXCY'])
arrests_df['TOTHH_CY'] = arrests_df['NHA_NAME'].map(neighborhood['TOTHH_CY'])
arrests_df.dropna()
arrests_df = arrests_df[["NHA_NAME","sex","age","day","month","MEDHINC_CY","WLTHINDXCY", "time", "TOTHH_CY", "fel_misd"]]

if print_debug:
    print(arrests_df)

              NHA_NAME sex age  day  month  MEDHINC_CY  WLTHINDXCY  time  \
12        Dodge Flower   M  21    4      0     25336.0        27.0  1610
13        Dodge Flower   M  21    4      0     25336.0        27.0  1610
15     West University   M  24    5      0     25427.0        30.0  1716
16     West University   M  24    5      0     25427.0        30.0  1716
17        Dodge Flower   M  21    4      0     25336.0        27.0  1610
...                ...  ..  ..  ...    ...         ...         ...   ...
45407            Amphi   F  49    2      1     20213.0        20.0   109
45408    Flowing Wells   M  22    4      2     30668.0        35.0   827
45412    Flowing Wells   M  22    4      2     30668.0        35.0   827
45413    Flowing Wells   M  22    4      2     30668.0        35.0   827
45419         Downtown   M  30    1      1     36471.0        26.0   400

       TOTHH_CY fel_misd
12       1309.0        M
13       1309.0        M
15       1359.0        M
16       1359.0        M
17       1309.0        M
...         ...      ...
45407    3105.0        M
45408    3825.0        M
45412    3825.0        M
45413    3825.0
45419     111.0        F

[69395 rows x 10 columns]

---
### Remove the Neighborhood Name Column

In [12]:
arrests_df = arrests_df.drop(columns="NHA_NAME")

---
## Finding Non-Numeric Age Indices

In [13]:
x = list(arrests_df["age"])
arr = []
for i, val in enumerate(x):
    try:
        int(val)
    except:
        arr.append(i)

if print_debug:
    print(arr)

[165, 168, 224, 225, 226, 306, 405, 439, 564, 565, 566, 567, 568, 855, 965, 1143, 1144, 1145, 1147, 1150, 1151, 1158, 1159, 1160, 1161, 1169, 1274, 1275, 1276, 1288, 1289, 1292, 1315, 1316, 1381, 1382, 1455, 1456, 1548, 1550, 1610, 1737, 1738, 1995, 1996, 2093, 2096, 2379, 2381, 2382, 2444, 2468, 2469, 2470, 2477, 2493, 2527, 2528, 2563, 2564, 2614, 2741, 2847, 2848, 2945, 2946, 2947, 2948, 2949, 2966, 2967, 2981, 3214, 3215, 3419, 3527, 3528, 3530, 3568, 3569, 3719, 3758, 3759, 3761, 3902, 3923, 3924, 4040, 4112, 4114, 4157, 4551, 4552, 4553, 4554, 5005, 5006, 5007, 5045, 5046, 5047, 5048, 5052, 5129, 5130, 5401, 5402, 5591, 5593, 5594, 5652, 5653, 5655, 5656, 5667, 5668, 5670, 5671, 5818, 5827, 5949, 5967, 5968, 5969, 5970, 5971, 5991, 5992, 5993, 5994, 5997, 6154, 6161, 6190, 6191, 6344, 6435, 6441, 6442, 6443, 6444, 6445, 6446, 6447, 6448, 6449, 6450, 6451, 6452, 6453, 6454, 6455, 6456, 6457, 6766, 6773, 6817, 6836, 6839, 6901, 6902, 6903, 6904, 6906, 6915, 6940, 6941, 6966, 6967, 7067, 7371, 7520, 7522, 7524, 7525, 7526, 7561, 7565, 7566, 7641, 7735, 7736, 7893, 7895, 7896, 7902, 7962, 7963, 7969, 7970, 8146, 8147, 8149, 8169, 8170, 8171, 8172, 8173, 8209, 8211, 8286, 8474, 8476, 8477, 8478, 8479, 8549, 8550, 8551, 8552, 8553, 8557, 8558, 8573, 8687, 8767, 8768, 8904, 8905, 8906, 8984, 9469, 9470, 9498, 9757, 9771, 9772, 9812, 9813, 9814, 9815, 9824, 9825, 10116, 10130, 10131, 10133, 10134, 10361, 10471, 10472, 10473, 10657, 10658, 10889, 10890, 10891, 10941, 10942, 10943, 10944, 11193, 11194, 11195, 11233, 11234, 11479, 11480, 11481, 11495, 11520, 11521, 11522, 11524, 11528, 11560, 11675, 12291, 12531, 12602, 12603, 13028, 13029, 13030, 13031, 13032, 13249, 13250, 13251, 13252, 13314, 13315, 13623, 13624, 13634, 13635, 13636, 13687, 13688, 13689, 13760, 13761, 13762, 13801, 13802, 14195, 14199, 14355, 14356, 14357, 14361, 14465, 14466, 14467, 14501, 14545, 14599, 14601, 14602, 14603, 14604, 14605, 14645, 14646, 14844, 14845, 14859, 14860, 15032, 15033, 15034, 15134, 15140, 15406, 15433, 15434, 15436, 15458, 15459, 15460, 15461, 15505, 15506, 15507, 15508, 15742, 15743, 15744, 15745, 15850, 15851, 15993, 15994, 15996, 16017, 16018, 16552, 16615, 16699, 16700, 16742, 16748, 16749, 16750, 16870, 16872, 16877, 17061, 17062, 17092, 17406, 17407, 17595, 17596, 17600, 17826, 17923, 17994, 17995, 18260, 18261, 18262, 18266, 18267, 18273, 18274, 18297, 18298, 18299, 18300, 18301, 18336, 18337, 18338, 18502, 18503, 18516, 18517, 18665, 18666, 18776, 18777, 18794, 18795, 18832, 18923, 18954, 19062, 19103, 19104, 19105, 19294, 19295, 19297, 19384, 19385, 19386, 19469, 19470, 19471, 19498, 19499, 19519, 19520, 19525, 19613, 19614, 19615, 19628, 19630, 19631, 19649, 19650, 19786, 19787, 19788, 19789, 19790, 19791, 19793, 19918, 19919, 20108, 20109, 20126, 20127, 20372, 20497, 20498, 20499, 20500, 20503, 20644, 21191, 21370, 21514, 21516, 21517, 21545, 21676, 21743, 21892, 21893, 21896, 21897, 21898, 21899, 21900, 21933, 21934, 21968, 22060, 22086, 22087, 22229, 22230, 22968, 22969, 23224, 23226, 23228, 23229, 23293, 23295, 23296, 23686, 23957, 23958, 23969, 23991, 23992, 24003, 24064, 24066, 24072, 24213, 24215, 24305, 24336, 24395, 24396, 24397, 24398, 24401, 24538, 24541, 24557, 24565, 24872, 24873, 24906, 24959, 24960, 25013, 25014, 25027, 25091, 25224, 25416, 25418, 25422, 25490, 25491, 25618, 25792, 25793, 25794, 25795, 25797, 25825, 26016, 26017, 26019, 26037, 26039, 26040, 26041, 26042, 26163, 26343, 26508, 26654, 26655, 26656, 26664, 26671, 26672, 26673, 26687, 26932, 26933, 26934, 27161, 27162, 27167, 27316, 27317, 27319, 27415, 27416, 27417, 27557, 27586, 27598, 27641, 27642, 27667, 27998, 27999, 28022, 28144, 28145, 28459, 28461, 28722, 28723, 29055, 29250, 29251, 29445, 29530, 29531, 29568, 29570, 29574, 29598, 29599, 29933, 30002, 30052, 30053, 30055, 30056, 30057, 30058, 30059, 30111, 30112, 30113, 30229, 30230, 30231, 30232, 30379, 30380, 30381, 30462, 30558, 30676, 30677, 30688, 30812, 31018, 31019, 31484, 31485, 31486, 31680, 31711, 31979, 31980, 31990, 32103, 32104, 32197, 32479, 32480, 32501, 32638, 32688, 32689, 32690, 32691, 32893, 32896, 33071, 33107, 33195, 33196, 33197, 33259, 33260, 33261, 33287, 33351, 33586, 33588, 33594, 33712, 33713, 33714, 33715, 33716, 33717, 33885, 33886, 33887, 33888, 33920, 33921, 33922, 34035, 34177, 34178, 34209, 34210, 34211, 34212, 34213, 34244, 34246, 34260, 34781, 34782, 34897, 34898, 34899, 34962, 34963, 35044, 35045, 35046, 35285, 35435, 35436, 35437, 35474, 35629, 36017, 36248, 36294, 36351, 36845, 36877, 36910, 36911, 36912, 36913, 36914, 37038, 37097, 37112, 37114, 37115, 37116, 37117, 37118, 37344, 37347, 37352, 37361, 37370, 37749, 37750, 37829, 37830, 37831, 37832, 37834, 37935, 37936, 37938, 37941, 38196, 38200, 38244, 38428, 38429, 38430, 38431, 38432, 38433, 38434, 38435, 38965, 38972, 39259, 39260, 39261, 39359, 39360, 39373, 39374, 39389, 39405, 39472, 39473, 39474, 39475, 39585, 39614, 40099, 40100, 40101, 40136, 40138, 40157, 40158, 40159, 40172, 40195, 40201, 40202, 40203, 40240, 40242, 40243, 40244, 40247, 40249, 40306, 40312, 40313, 40315, 40316, 40317, 40408, 40601, 40602, 40725, 40726, 40915, 41028, 41029, 41056, 41057, 41087, 41088, 41090, 41568, 41570, 41630, 41938, 42174, 42175, 42176, 42177, 42287, 42774, 42924, 42925, 42927, 42942, 42943, 42944, 42973, 43517, 43518, 43519, 43520, 43895, 43896, 43897, 43898, 44032, 44034, 44035, 44036, 44038, 44085, 44087, 44105, 44107, 44245, 44555, 44556, 44559, 44560, 44589, 44643, 44737, 45277, 45295, 45431, 45432, 45433, 45512, 45513, 45514, 45552, 45553, 45554, 45587, 45610, 45611, 45612, 45613, 45614, 45615, 45649, 45650, 45778, 45787, 45788, 45791, 45905, 45907, 46111, 46112, 46267, 46268, 46269, 46270, 46271, 46420, 46704, 46706, 46707, 46725, 46726, 46766, 46882, 46883, 47015, 47016, 47019, 47020, 47021, 47022, 47023, 47041, 47042, 47043, 47044, 47045, 47124, 47181, 47419, 47421, 47662, 47663, 47701, 47702, 47703, 47800, 47802, 48031, 48032, 48033, 48093, 48115, 48116, 48336, 48474, 48661, 48662, 48663, 48664, 48909, 48910, 48911, 48912, 48925, 48926, 48927, 49213, 49215, 49216, 49217, 49218, 49290, 49457, 49458, 49459, 49461, 49463, 49469, 49471, 49472, 49575, 49576, 49588, 49589, 49590, 49734, 49796, 50113, 50190, 50215, 50260, 50261, 50262, 50278, 50279, 50280, 50283, 50456, 50623, 50682, 50691, 50843, 50924, 50960, 50962, 50963, 50965, 50986, 50987, 51242, 51321, 51439, 51440, 51441, 51516, 51545, 51546, 51547, 51562, 51563, 51572, 51590, 51592, 51612, 51666, 51667, 51756, 51815, 51818, 51825, 51899, 51946, 51955, 52034, 52035, 52036, 52115, 52116, 52121, 52143, 52204, 52205, 52262, 52368, 52426, 52427, 52571, 52572, 52713, 52778, 52779, 52780, 52869, 52870, 52871, 52973, 52974, 53159, 53160, 53161, 53162, 53241, 53242, 53243, 53280, 53281, 53317, 53318, 53381, 53382, 53383, 53384, 53385, 53479, 53550, 53551, 53552, 53742, 53792, 53805, 54060, 54061, 54388, 54389, 54390, 54391, 54657, 54658, 54697, 55052, 55067, 55069, 55070, 55071, 55072, 55073, 55074, 55075, 55091, 55092, 55093, 55139, 55140, 55355, 55356, 55360, 55678, 55679, 55680, 55843, 55927, 55928, 56455, 56456, 56457, 56458, 56459, 56527, 56648, 56649, 56801, 56803, 56804, 56805, 56815, 56857, 56858, 56859, 56876, 56877, 56953, 56954, 56955, 57193, 57196, 57199, 57225, 57580, 57581, 57582, 57583, 57584, 57585, 57586, 57588, 57718, 57719, 57720, 57721, 58198, 58199, 58200, 58201, 58232, 58233, 58301, 58303, 58304, 58305, 58521, 58522, 58524, 58525, 58526, 58643, 58910, 58911, 58917, 58918, 59145, 59146, 59347, 59348, 59349, 59350, 59354, 59379, 59510, 59511, 59526, 59794, 59873, 60153, 60232, 60270, 60271, 60605, 60606, 60612, 60613, 60684, 60685, 60686, 60687, 60688, 60689, 60690, 60754, 60756, 60896, 60937, 60970, 60971, 60972, 60973, 60974, 60975, 60976, 61017, 61039, 61041, 61125, 61126, 61128, 61497, 61498, 61499, 61503, 61504, 61505, 61506, 61658, 61659, 61660, 61661, 61765, 61766, 61767, 61768, 61769, 61771, 61772, 61773, 61774, 61775, 61868, 61997, 62115, 62647, 62648, 62650, 62935, 63048, 63049, 63050, 63051, 63192, 63194, 63195, 63219, 63220, 63295, 63298, 63403, 63476, 63477, 63560, 63573, 63574, 63576, 63659, 63661, 63662, 63767, 63768, 63769, 63770, 63771, 63774, 64388, 64440, 64441, 64442, 64457, 64458, 64459, 64460, 64461, 64462, 64509, 64510, 64550, 64551, 64621, 64643, 64646, 64678, 64680, 65181, 65182, 65184, 65185, 65531, 65565, 65566, 65567, 65572, 65579, 65580, 65581, 65582, 65583, 65584, 65585, 65634, 65635, 65740, 65929, 65930, 65931, 65932, 66023, 66123, 66219, 66220, 66221, 66222, 66328, 66329, 66331, 66332, 66513, 66533, 66658, 66659, 67058, 67163, 67164, 67246, 67247, 67387, 67400, 67401, 67536, 67653, 67655, 67656, 67657, 67658, 67659, 67660, 67663, 67664, 67665, 67672, 67677, 67687, 67689, 67690, 67691, 67695, 67696, 67837, 67838, 67911, 67912, 68061, 68062, 68103, 68104, 68105, 68365, 68367, 68368, 68437, 68490, 68553, 69003, 69004, 69005, 69026, 69027, 69028, 69307, 69316, 69317, 69318, 69319]

---
### Cleaning Age Column and Resetting Indices

In [14]:
df = arrests_df.set_axis([i for i in range(len(arrests_df))])
df = df.drop(arr, axis=0) # drop rows with age = ' '

if print_debug:
    print(df)

      sex age  day  month  MEDHINC_CY  WLTHINDXCY  time  TOTHH_CY fel_misd
0       M  21    4      0     25336.0        27.0  1610    1309.0        M
1       M  21    4      0     25336.0        27.0  1610    1309.0        M
2       M  24    5      0     25427.0        30.0  1716    1359.0        M
3       M  24    5      0     25427.0        30.0  1716    1359.0        M
4       M  21    4      0     25336.0        27.0  1610    1309.0        M
...    ..  ..  ...    ...         ...         ...   ...       ...      ...
69390   F  49    2      1     20213.0        20.0   109    3105.0        M
69391   M  22    4      2     30668.0        35.0   827    3825.0        M
69392   M  22    4      2     30668.0        35.0   827    3825.0        M
69393   M  22    4      2     30668.0        35.0   827    3825.0
69394   M  30    1      1     36471.0        26.0   400     111.0        F

[68078 rows x 9 columns]

---
## Save DF

In [15]:
df.to_csv('./clean_data/fully_merged_data.csv', index=False)