In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv("./clean_data/updated_fully_merged_data.csv", dtype=np.float64)
df.head()

   sex   age  day  month  MEDHINC_CY  WLTHINDXCY  fel_misd
0  1.0  21.0  4.0    0.0     25336.0        27.0       2.0
1  1.0  21.0  4.0    0.0     25336.0        27.0       2.0
2  1.0  24.0  5.0    0.0     25427.0        30.0       2.0
3  1.0  24.0  5.0    0.0     25427.0        30.0       2.0
4  1.0  21.0  4.0    0.0     25336.0        27.0       2.0

In [11]:
norm = (df - df.mean())/df.std()
norm.mean(), norm.std(), norm.head()

(sex          -1.069812e-17
 age           1.486255e-16
 day           1.001970e-17
 month        -4.007879e-17
 MEDHINC_CY    1.008381e-16
 WLTHINDXCY   -1.062775e-16
 fel_misd     -1.669950e-17
 dtype: float64,
 sex           1.0
 age           1.0
 day           1.0
 month         1.0
 MEDHINC_CY    1.0
 WLTHINDXCY    1.0
 fel_misd      1.0
 dtype: float64,
        sex       age       day     month  MEDHINC_CY  WLTHINDXCY  fel_misd
 0  0.57634 -1.008905  0.477886 -1.498356   -0.796520   -0.501925  0.093367
 1  0.57634 -1.008905  0.477886 -1.498356   -0.796520   -0.501925  0.093367
 2  0.57634 -0.760608  0.979050 -1.498356   -0.789672   -0.372174  0.093367
 3  0.57634 -0.760608  0.979050 -1.498356   -0.789672   -0.372174  0.093367
 4  0.57634 -1.008905  0.477886 -1.498356   -0.796520   -0.501925  0.093367)